.padding-sm {
  padding: 2rem 12rem;
}

.cta:link,
.cta:visited {
  display: block;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  transition: all 0.3s;
}

.cta:hover,
.cta:active {
  background-color: rgba(42, 207, 207, 0.5);
}
